.section {
  width: 100%;
  max-width: 1400px;
  justify-self: center;
  background: #FFFFFF;
  padding: 40px;
  display: flex;
  gap: 40px;

  .title {
    font-size: 48px;
    color: #8239F2;
    font-weight: bold;
    text-align: left;
    padding-bottom: 34px;
  }
}
