.account {
  display: flex;
  align-items: center;
  gap: 15px;

  .photo {
    background: #D9D9D9;
    width: 75px;
    height: 75px;
    border-radius: 50%;
  }

  .name {
    font-size: 24px;
    font-weight: bold;
  }

  .container {
    display: flex;
    gap: 8px;
    justify-content: center;

    .username {
      color: #737380;
      font-size: 16px;
    }
  }
}
